#wrapper {
	width: auto;
}
#header {
	width: auto;
}
#page {
	width: auto;
}
#content {
	width: auto;
	float: none;
	clear: both;
}
#sidebar {
	width: auto;
	float: none;
	clear: both;
}
#footer {
	width: auto;
	display: none;
}