#wrapper {
	width: auto;
}
#header {
	width: auto;
}
#page {
	width: auto;
}

  body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: black;
  }
  
  * {
	box-sizing: border-box;
  }
  
  nav {
	position: sticky;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgb(255, 255, 255);
  }

  .nav {
	font-family: 'Lato' sans-serif;
	text-transform: uppercase;
	padding-right: 2em;
	font-weight: 600;
  }
	
  .nav * {
	box-sizing: border-box;
  }
	
  .nav li {
	display: inline-block;
	margin-inline: .5em;
	list-style: outside none none;
  }
	
  .nav a {
	color: black;
	position: relative;
	text-decoration: none;
	font-size: 16px;
  }

  section {
	width: 90%;
	margin: 0 auto;
  }
  section h1 {
	  font-size: 2rem;
	  color: rgb(196, 196, 196);
  }
  section h2 {
	  font-size: 1.5rem;
	  color: rgb(196, 196, 196);
  }
  section h3 {
	  color: rgb(196, 196, 196);
  }
  section p {
	  font-size: 1.1rem;
	  color: rgb(196, 196, 196);
  }
  section a {
	color: #58A6FF;
	text-decoration: none;
  }
  section a:hover {
	text-decoration: underline;
  }
  .container-right {
	  padding-bottom: 50px;
  }
  .container-left {
	  padding-bottom: 50px;
  }
  .img-container-left {
	  justify-content: center;
  }
  .img-container-left img{
	  width: 90vw;
	  height: auto;
	  margin: 0;
  }
  .img-container-right {
	  justify-content: center;
  }
  .img-container-right img {
	  max-width: 90vw;
	  height: auto;
	  margin: 0;;
  }
  .gallery-right {
	  flex-grow: 0;
	  justify-content: center;
  }
  .gallery-right img {
	  width: 90vw;
	  height: auto;
	  margin: 0;
	  padding-bottom: 5px;
  }

  .gallery-left {
	  flex-grow: 0;
	  justify-content: center;
  }
  .gallery-left img {
	  width: 90vw;
	  height: auto;
	  margin: 0;
	  padding-bottom: 5px;
  }
  .text-container {
	  flex-grow: 1;
  }
  
  .contents {
	  width: 250px;
	  border: 1px rgb(196, 196, 196);
	  border-style: solid;
	  padding: 10px;
	  margin: 30px;
  }
  .contents a {
	  color: #58A6FF;
	  text-decoration: none;
  }

  .contents a:hover {
    color: #2f90ff;
  }

  iframe {
	  width: fit-content;
	  height: fit-content;
	  object-fit: fill;
  }

  li {
	color: rgb(196, 196, 196);
  }