body {
    background: #eeeeee;
    margin: 0;
    padding: 0;
}

/*Navigation*/

.navigation {
    box-sizing: border-box;
    background-color: #9cd0d1;
    overflow: auto;
    padding: 5px 35px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}

a.navbar {
    color: #25776f;
    text-decoration: none;
}

a.navbar:hover {
    color: #084741
}


ul {
    padding: 0;
    margin: 0;
}

li {
    color: #90b890;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 18px 10px 18px;
}