body {
    background: #eeeeee;
    margin: 0;
    padding: 0;
}

/*Navigation*/

.navigation {
    box-sizing: border-box;
    background-color: #9cd0d1;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    color: #90b890;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
}