body {
    background: #eeeeee;
    margin: 0;
    padding: 0;
}

/*Navigation*/

.navigation {
    box-sizing: border-box;
    background-color: #9cd0d1;
    overflow: auto;
    padding: 5px 35px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}

a.navbar {
    color: #25776f;
    text-decoration: none;
}

a.navbar:hover {
    color: #084741
}


ul {
    padding: 0;
    margin: 0;
}

li {
    color: #90b890;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 10px 18px 10px 18px;
}

/*Headers + Paragraphs*/

h1 {
    border: 1px solid #ac8daf;
    border-radius: 7px;
    background-color: #ac8daf;
    font-weight: 400;
}

p {
    border: 1px solid #e5dced;
    border-radius: 7px;
    background-color: #e5dced;
    font-weight: 200
}

/*Table*/

table {
    height: 100%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 50%;
  }
  
  thead th {
    background: #3d5284;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 200;
    height: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
  }

  .day {
      text-align: center;
  }